* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  width: 80rem;
  gap: 10rem;
}
button {
  background-color: transparent;
  border: 1px solid red;
  padding: 10px;
}
