.movie-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.movie-list-wrapper {
  padding: 20px;
  width: 80rem;
}

.movie-list-wrapper h1 {
  text-align: center;
}

.movie-list-wrapper h1,
.movie-list-wrapper input,
.movie-list-wrapper button {
  opacity: 1;
  color: red;
}

.movie-list-wrapper input,
.movie-list-wrapper button {
  background-color: transparent;
  border: 1px solid red;
  padding: 10px;
  margin: 5px 0;
  width: 10rem;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  display: flex;
  justify-content: center;
  flex: 0 0 calc(30% - 20px); /* Adjust width of each movie card */
  border-radius: 5px; /* Add border radius for rounded corners */
  padding: 10px; /* Add padding */
  margin: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  gap: 5rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.movie-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

.movie-card-img,
img {
  height: 20rem;
  width: 20rem;
  filter: brightness(80%); /* Adjust the percentage to lower the brightness */
}
.movie-card h2 {
  margin-bottom: 10px; /* Adjust spacing between title and description */
}

.movie-card p {
  margin-bottom: 20px; /* Adjust spacing between description and buttons */
}

li {
  border: 1px solid red;
}
