* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  list-style: none;
  border: white solid;
  background-color: rgba(0, 0, 0, 0.95);
}
