* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.navbar-ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  list-style: none;
  border: white solid;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-ul > li{
  color: black;
  border: none;
}

.navbar-ul > li > button > a{
  color: black;
  border: none;
  text-decoration: none;
}

.rampart-one-regular {
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
}