:root {
  background-image: url("https://www.shutterstock.com/image-vector/glitch-camera-effect-retro-vhs-600w-1508139026.jpg");
  background-size: cover;
  background-position: center; /* Centers the image */
}
